<div ng-controller="AppCtrl" ng-cloak="" class="datepickerdemoBasicUsage" ng-app="MyApp">
  <div layout-gt-xs="row">
<md-datepicker 
	ng-model="myDate" 
	md-placeholder="Ingrese una fecha"   > 
	

</md-datepicker>
	</div>
</div>

{% block script %}
  <script src="/static/js/widgets/calendarmaterialize.js">

  </script>
  <script type="text/javascript">
    angular.module('MyApp',
      ['ngMaterial', 'ngMessages', 'material.svgAssetsCache']).controller('AppCtrl', function($scope) {
      var ano = '{{value|date:"Y"}}';
      var mes = '{{value|date:"m"}}';
      var dia = '{{value|date:"d"}}';
      console.log('{{cumpleanos}}');
      $scope.myDate = new Date(
          ano,
          mes - 1,
          dia
        ); 
    });

  	$(document).ready(function(){
  		$('.md-datepicker-input').attr('name', 'cumpleanos');
      $('.md-datepicker-input').attr('value', '{{value}}');
  	});
  </script>
{% endblock script %}
