.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }

 .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
    
 .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px; }
