<!-- Aquí estaran las opciones principales de la aplicación -->
<!-- 1. Nombre y Rol de la persona, al dar click hacer un popup, con los detalles del usuario para el nombre de usuario, para el rol, los permisos que tiene -->

<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" style="margin-right: 15px;" href="#">Usuario :  {% if user.fist_name %} {{user.first_name}} {% endif %} {{user.username}} </a>
    <a class="navbar-brand" style="margin-right: 15px;" href="#">Rol : 
      {% if user.is_superuser %} Administrador {% else %} {{user.groups.all.0}} {% endif %} 
    </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'admin:logout' %}">Cerrar sesión</a></li>
      <li><a href="#">Help</a></li>
    </ul>
    <form class="navbar-form navbar-right">
      <input type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
</div>