<ul class="nav nav-sidebar">
  <li class="active"><a href="http://getbootstrap.com/examples/dashboard/#">Overview <span class="sr-only">(current)</span></a></li>
  <li><a href="http://getbootstrap.com/examples/dashboard/#">Reports</a></li>
  <li><a href="http://getbootstrap.com/examples/dashboard/#">Analytics</a></li>
  <li><a href="http://getbootstrap.com/examples/dashboard/#">Export</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="http://getbootstrap.com/examples/dashboard/">Nav item</a></li>
  <li><a href="http://getbootstrap.com/examples/dashboard/">Nav item again</a></li>
  <li><a href="http://getbootstrap.com/examples/dashboard/">One more nav</a></li>
  <li><a href="http://getbootstrap.com/examples/dashboard/">Another nav item</a></li>
  <li><a href="http://getbootstrap.com/examples/dashboard/">More navigation</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="http://getbootstrap.com/examples/dashboard/">Nav item again</a></li>
  <li><a href="http://getbootstrap.com/examples/dashboard/">One more nav</a></li>
  <li><a href="http://getbootstrap.com/examples/dashboard/">Another nav item</a></li>
</ul>